<!DOCTYPE html>
<html>
  <head>
    <title>One Piece</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("Home", "/posts/index") %>
        <% else %>
        <%= link_to "Home", "/", class: 'btn btn-success' %>
        <% end %>
      </div>

      <ul class="header-menus">
        <% if @current_user %>
          <li>
          <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <!-- ログインしている状態でヘッダーに表示するHTMLを貼り付けてください -->
          <li>
            <%= link_to "Production", "production" %>
          </li>
          <li>
            <%= link_to("Post List", "/posts/index") %>
          </li>
          <li>
            <%= link_to("New Post", "/posts/new") %>
          </li>
          <li>
            <%= link_to("User List", "/users/index") %>
          </li>
          <li>
            <%= link_to("Logout", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <!-- ログインしていない状態でヘッダーに表示するHTMLを貼り付けてください -->
          <li>
            <%= link_to "Signup", "signup" %>
          </li>
          <li>
            <%= link_to "Login", "login" %>
          </li>
        <% end %>
      </ul>
    </header>

    <!-- flash[:notice]に代入されたメッセージを表示してください -->
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>