<!DOCTYPE html>
<html>
  <head>
    <title>One Piece</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <li>
            <a href = "/production"><i class = "fa fa-home">   TOP</i></a>
          </li>
        <% else %>
          <li>
            <a href = "/"><i class = "fa fa-home"> TOP</i></a>
          </li>
        <% end %>
      </div>

      <ul class="header-menus">
        <% if @current_user %>
          <ul class = "dropmenu">
            <li id = "myuser">
              <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
              <ul>
                <li id = "logout">
                  <%= link_to("➡︎Logout", "/logout", {method: :post}) %>
                </li>
              </ul>
            </li>
          </ul>

          <li>
            <a href = "/production"><i class="fa fa-info"> Production</i></a>
          </li>
          <li>
            <a href = "/photolist"><i class="fa fa-camera"> Photolist</i></a>
          </li>
          <li>
            <a href = "/share"><i class="fa fa-envelope"> Share</i></a>
          </li>

        <% else %>
          <!-- ログインしていない状態でヘッダーに表示するHTMLを貼り付けてください -->
          <li>
            <a href = "/signup"><i class="fa fa-frown-o"> Signup</i></a>
          </li>
          <li>
            <a href = "/login"><i class = "fa fa-sign-in"> Login</i></a>
          </li>
        <% end %>
      </ul>
    </header>

    <!-- flash[:notice]に代入されたメッセージを表示してください -->
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>